{% extends 'notesapp/base.html' %}
{% load staticfiles %}

{% block title %}Add new category{% endblock %}
{% block body_block %}

 <h1>Add new Category!</h1>

    <form id="note_form" method="POST" action="/notes/add_category/" enctype="multipart/form-data">

    {% csrf_token %}
    {{ category_form.as_p }}


    <input class="btn btn-large btn-primary " type="submit" value="Submit" />

    </form>

 {% load mptt_tags %}
<ul>
    {% recursetree nodes %}
        <li>
            {{ node.name }}
            {% if not node.is_leaf_node %}
                <ul class="children">
                    {{ children }}
                </ul>
            {% endif %}
        </li>
    {% endrecursetree %}
</ul>

{% endblock %}




