{% extends 'notesapp/base.html' %}

{% load staticfiles %}

{% block title %}Notes{% endblock %}
   {% block body_block %}

 <link rel="stylesheet" href={% static "css/notes.css" %}>

    {% if user.is_authenticated %}
    <h2>Hi, dear {{ user.username }} on my blog!</h2>
    {% else %}
    <h2>Hi there!</h2>
    {% endif %}
    <p>{{ user_id }}</p>
       <ul class="list-group">
    {% for n in notes %}
         <li ><a  style="background-color:{{ n.color }}" class="note" href="/notes/see_note/{{ n.id }}/"><h2>{{ forloop.counter }}: {{ n.note_name }}</h2></a>
    {% endfor %}
       </ul>

{% endblock %}