{% extends 'notesapp/base.html' %}

{% load staticfiles %}

{% block title %}Notes{% endblock %}
   {% block body_block %}

 <link rel="stylesheet" href={% static "css/notes.css" %}>

    {% if user.is_authenticated %}
    <h2>Hi, dear {{ user.username }} on my blog!</h2>
    {% else %}
    <h2>Hi there!</h2>
    {% endif %}

       <ul class="list-group">
    {% for n in note %}
         <li ><a  style="background-color:{{ n.color }}; color:white; " class="note" href="see_note/{{ n.id }}/"><h2 style=" color:{{ n.text }}; ">{{ forloop.counter }}: {{ n.note_name }}</h2>
             <a href ="note/{{ n.id }}/ ">Edit</a>&nbsp;|&nbsp;
             <a href =" del_note/{{ n.id }}/">Delete</a> </a></li>

    {% endfor %}
        </ul>
{% endblock %}