

{% extends 'notesapp/base.html' %}

{% load staticfiles %}

{% block title %}Login{% endblock %}
{% block body_block %}
<h1>Login</h1>

        <form class="form-group"  method="post" action="/notes/login/">
            {% csrf_token %}
            Username: <input type="text" class="form-control" maxlength="30" placeholder="Username" name="username" value="" size="50" />
            <br />
            Password: <input type="password" class="form-control" maxlength="16" placeholder="Password" name="password" value="" size="50" />

            <br />
            {% if error %}
            <div ><p class="error_r">{{ error }}</p></div>
            {% endif %}
            <p >{{ dict_inactive }}</p>

            <input class="btn btn-large btn-primary " type="submit" value="submit" />

        </form>

{% endblock %}



<!--
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
    <h1>Please login to access all functionalitu of my blog!</h1>
    <form id="login_form" method="post" action="/notes/login/">
        {% csrf_token %}
        Username: <input type="text" name="username" value="" size="50">
        <br>
        Password: <input type="text" name="password" value="" size="50">
        <br>
        <input type="submit" value="submit">
    </form>
</body>
</html> -->